@mixin set-z-index($val) {
  $z-indexes: (
    'default': auto,
    'negative': -1,
    'min': 1,
    'low': 2,
    'medium': 3,
    'high': 4,
    'max': 5
  );

  z-index: map-get($z-indexes, $val);
}

  @mixin multiLineEllipsis($lineHeight: 1.2em, $lineCount: 1, $bgColor: white){
    overflow: hidden;
    position: relative;
    line-height: $lineHeight;
    max-height: $lineHeight * $lineCount; 
    text-align: justify;
    margin-right: -1em;
    padding-right: 1em;
    &:before {
      content: '...';
      position: absolute;
      right: 0;
      bottom: 0;
    }
    &:after {
      content: '';
      position: absolute;
      right: 0;
      width: 1em;
      height: 1em;
      margin-top: 0.2em;
      background: $bgColor;
    }
  }
  