// images
$img-path: '../../assets/images/';

// Palette
$primary-main: $sky-blue;
$primary-text: $azure2;
$primary-dark: $steel-blue4;
$primary-light: $steel-blue1;

$secondary-main: $red2;
$secondary-text: $azure2;
$secondary-dark: $firebrick;
$secondary-light: $tomato;

$error-main: $red;
$error-text: $misty-rose;

$success-main: $sea-green;
$success-text: $black;

$background: $white;

// Typography
$font-color1: $grey16;

$h5-fontWeight: 500;
$h5-fontSize: 26;
$h5-letterSpacing: 0.5;

$body1: $grey16;
$body2: $grey19;

// Buttons
$btn-color: $azure2;
$btn-outline: $grey19;
$btn-border: $grey19;
$btn-background: $red2;
$btn-focus-color: $red2;
$btn-focus-background: $azure2;

$btn1-color: $azure2;
$btn1-outline: $steel-blue1;
$btn1-border: $steel-blue1;
$btn1-background: $steel-blue4;
$btn1-focus-color: $steel-blue4;
$btn1-focus-background: $azure2;

// Menu
$menu-background-color: $azure2;
$menu-color: $grey19;
$menu-item-background-color: $azure2;
$menu-item-color: $grey19;
$menu-item-background-color-hover: $steel-blue1;
$menu-item-background-color-active: $steel-blue1;
$menu-item-color-active: $grey19;
