// Misc
$img-path: '../../static/images/';

// Colours - https://web.njit.edu/~walsh/rgb.html
$transparent: rgba(0, 0, 0, 0);

$black: rgb(0, 0, 0);
$black-60: rgba($black, .6);
$grey16: rgb(36, 36, 36);
$grey19: rgb(48, 48, 48);

$gray: rgb(146, 146, 146);
$light-steel-blue: rgb(146, 146, 146);

$white: rgb(255, 255, 255);
$white-50: rgba($white, .5);
$azure2: rgb(232, 241, 242);

$green: rgb(0, 191, 11);

$gold: rgb(255, 203, 0);

$yellow-gold: rgb(255, 211, 0);
$yellow-selective: rgb(255, 187, 0);

$blue-azure: rgb(0, 135, 245);
$steel-blue1: rgb(71,145,219);
$steel-blue4: rgb(17, 82, 147);
$sky-blue: rgb(135,206,235);

$purple: rgb(60, 15, 84);

$red: rgb(255, 0, 0);
$red2: rgb(238, 0, 0);
$tomato: rgb(255, 99, 71);
$firebrick: rgb(59, 33, 33);
$misty-rose: rgb(255, 228, 225);

$sea-green: rgb(46, 139, 87);
