.layout {
  flex: 1;
}

.page-body {
  z-index: 1;
  position: fixed;
  height: 86vh;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: stretch;
  overflow-y: auto;
  overflow-x: hidden;
}

.footer {
  z-index: 1;
  position: fixed;
  height: 4vh;
  width: 100%;
  bottom: 0;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: stretch;
}
